[submodule "gui_abstractions"]
	path = gui_abstractions
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
[submodule "doc"]
	path = doc
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/readme_files.git
